@import '../../../../mixins/mixins.scss';

.collectionsSectionContainer {
  position: relative;
  height: 100%;
  background: #6291AF;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;

  &-h1 {
    position: absolute;
    top: 32px;
    font-size: 95px;
    font-weight: 400;
    font-family: 'Lobster Regular';
    margin: 0;  

    @include respond-to(medium) {
      top: 7px;
      font-size: 85px;
    }

    @include respond-to(mobile) {
      font-size: 65px;
      top: 105px;
      line-height: 70px;
    }
  }

  &__carousel {
    z-index: 999;
    top: -10px;
    width: 100%;

    @include respond-to(mobile-medium) {
      width: 100%;
      top: -35px;
    }
  }
}

.carousel-item {
  transform: translateX(30px);
  
  @include respond-to(mobile) {
    transform: translateX(51px);
  }
}

.react-multiple-carousel__arrow--left {

  @include respond-to(mobile) {
    left: calc(1% + 1px) !important;
  }
}

.react-multiple-carousel__arrow--right {

  @include respond-to(mobile) {
    right: calc(1% + 1px) !important;
  }
}