@import "../../../../mixins/mixins.scss";

.collectionsSectionContainer {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  margin: 0;

  &-h1 {
    position: absolute;
    top: 0px;
    opacity: 0;
    font-size: 95px;
    font-weight: 400;
    font-family: "Lobster Regular";
    margin: 0;

    @include respond-to(high) {
      font-size: 125px;
      top: 64px !important;
    }

    @include respond-to(medium) {
      top: 7px;
      font-size: 85px;
    }

    @include respond-to(mobile) {
      font-size: 63px;
      top: 50px;
      opacity: 0;
      line-height: 70px;
    }
  }

  &__carousel {
    z-index: 999;
    top: 10px;
    opacity: 0;
    width: 100%;

    @include respond-to(high) {
      top: -10% !important;
    }

    @include respond-to(mobile-medium) {
      width: 100%;
      top: 15px;
      opacity: 0;
      text-align: center;
    }
  }
}

.carousel-item {
  transform: translateX(30px);

  @include respond-to(mobile) {
    justify-items: center;
    transform: translateX(25%);
  }

  @include respond-to(mobile-medium) {
    transform: translateX(15%);
  }
}

.react-multiple-carousel__arrow--left {
  @include respond-to(mobile) {
    left: calc(1% + 1px) !important;
  }
}

.react-multiple-carousel__arrow--right {
  @include respond-to(mobile) {
    right: calc(1% + 1px) !important;
  }
}

.collections-title-in {
  animation: CollectionsTitleIn 1s cubic-bezier(0.22, 1, 0.36, 1) forwards 0.3s;

  @include respond-to(mobile-medium) {
    animation: CollectionsTitleInMobile 1s cubic-bezier(0.22, 1, 0.36, 1) forwards 0.3s;
  }
}

.collections-title-out {
  top: 32px;
  opacity: 1;
  animation: CollectionsTitleOut 0.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.collections-corousel-in {
  animation: CollectionsCarouselIn 1s cubic-bezier(0.22, 1, 0.36, 1) forwards 0.6s;

  @include respond-to(mobile-medium) {
    animation: CollectionsCarouselInMobile 1s cubic-bezier(0.22, 1, 0.36, 1) forwards 0.6s;
  }
}

.collections-carousel-out {
  top: -10px;
  opacity: 1;
  animation: CollectionsCarouselOut 0.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes CollectionsTitleIn {
  to {
    top: 32px;
    opacity: 1;
  }
}

@keyframes CollectionsTitleOut {
  to {
    top: 0px;
    opacity: 0;
  }
}

@keyframes CollectionsTitleInMobile {
  to {
    top: 95px;
    opacity: 1;
  }
}

@keyframes CollectionsCarouselIn {
  to {
    top: -10px;
    opacity: 1;
  }
}

@keyframes CollectionsCarouselOut {
  to {
    top: 10px;
    opacity: 0;
  }
}

@keyframes CollectionsCarouselInMobile {
  to {
    top: -15px;
    opacity: 1;
  }
}
