@import '../../../../mixins/mixins.scss';

.collectionsSectionContainer {
  position: relative;
  height: 100%;
  background: #6291AF;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;

  &-h1 {
    position: absolute;
    top: 32px;
    font-size: 95px;
    font-weight: 400;
    font-family: 'Lobster Regular';
    margin: 0;  

    @include respond-to(medium) {
      top: 7px;
      font-size: 85px;
    }
  }

  &__carousel {
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 50%;
    transform: translateY(-40%);
  }
}

.carousel-item {
  margin: -10px;
}