@import "../../../../mixins/mixins.scss";

.languageSwitcherContainer {
  position: absolute;
  z-index: 999;

  &-languageSwitcherBG {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    width: 200px;

    @include respond-to(medium) {
      width: 177px;
    }

    @include respond-to(mobile) {
      display: none;
    }
  }

  &-mobileLanguageSwitcherBG {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    transition: all 0.3s;

    @include respond-to(mobile) {
      display: block;
      width: 110px;
    }
  }

  &-mobileMenu {
    display: none;
    position: fixed;
    top: 32px;
    left: 24px;
    cursor: pointer;

    @include respond-to(mobile) {
      display: block;
    }
  }

  &-languageSwitcherFlag {
    position: fixed;
    top: 12px;
    right: 32px;
    z-index: 99;
    width: 86px;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    @include respond-to(medium) {
      width: 70px;
    }

    @include respond-to(mobile) {
      width: 41.69px;
      height: 42.04px;
      top: 30px;
      left: 34px;
      visibility: hidden;
    }
  }

  &-languageSwitcherFlagMobile {
    position: fixed;
    top: 12px;
    right: 32px;
    z-index: 99;
    width: 86px;
    cursor: pointer;
    transition: all 0.3s;
    visibility: hidden;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    @include respond-to(medium) {
      width: 70px;
    }

    @include respond-to(mobile) {
      width: 41.69px;
      height: 42.04px;
      top: 30px;
      left: 34px;
      visibility: visible;
    }
  }

  &-languageSwitcherFlag:hover {
    transform: rotate(15deg);
  }

  &-languageSwitcherFlagMobile:hover {
    transform: rotate(15deg);
  }

  &__modal {
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: white;
    right: 200px;
    top: 24px;
    position: fixed;
    width: 240px;
    height: 60px;
    z-index: 9999 !important;
    transition: all 0.4s;
    box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.4);

    @include respond-to(medium) {
      top: 18px;
      height: 55px;
      width: 220px;
      right: 180px;
    }

    @include respond-to(mobile) {
      left: 23px;
      top: 98px;
      width: 69px;
      height: 172px;
      flex-direction: column;
    }

    &-brazil {
      margin-right: 50px;
      width: 60px;
      cursor: pointer;

      @include respond-to(medium) {
        width: 50px;
      }

      @include respond-to(mobile) {
        margin-right: 0px;
        margin-bottom: 30px;
        width: 58.28px;
        height: 37.64px;
      }
    }

    &-eua {
      width: 60px;
      cursor: pointer;

      @include respond-to(medium) {
        width: 50px;
      }

      @include respond-to(mobile) {
        margin-right: 0px;
        width: 58.28px;
        height: 37.64px;
      }
    }
  }
}

.languageSwitcherHide {
  opacity: 0;
  visibility: hidden;
}

.languageSwitcherShow {
  opacity: 1;
  visibility: visible;
}