@import "../../../../mixins/mixins.scss";

.mobileMenuBackground {
  position: fixed;
  top: 0px;
  right: 0px;
  display: none;
  visibility: hidden;

  @include respond-to(mobile) {
    display: block;
    visibility: visible;
    z-index: 9999;
  }

  &-image {
    width: 110px;
  }

  &-button {
    position: fixed;
    top: 26px;
    right: 20px;
  }
}

.mobileMenuContainer {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(8px);
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 99;

  &-logo {
    width: 130px;
    z-index: 99;
  }

  &-title {
    font-family: 'Lobster Regular';
    font-size: 60px;
    font-weight: 400;
    margin-top: 0;
    padding-bottom: 25px;
  }

  h1 {
    z-index: 99;
    cursor: pointer;
    transition: all .4s;
    margin: 15px 0;
    margin-bottom: 0px;

    hr {
      margin-top: 0;
      border: 2px solid #fff;
    }
  }
}

.mobileMenuContainer::before {
  transition: all 0.4s;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0px);
  z-index: 98;
}

.hamburger-inner {
  background: #74bfbb !important;
  height: 5px !important;
}

.hamburger-inner::before {
  background: #74bfbb !important;
  height: 5px !important;
}

.hamburger-inner::after {
  background: #74bfbb !important;
  height: 5px !important;
}

.hamburger:hover {
  opacity: 1 !important;
}

.hamburger:focus {
  outline: none !important;
}

.menuIn {
  opacity: 1;
  visibility: visible;
}

.menuOut {
  opacity: 0;
  visibility: hidden;
}
