@import '../../mixins/mixins.scss';

.BearLogo {
  position: absolute;
  z-index: 999;
  top: 16px;
  left: 16px;
  opacity: 1;
  transition: opacity .4s;

  @include respond-to(medium) {
    width: 100px;
    top: 8px;
  }

  @include respond-to(mobile) {
    display: none;
  }
}