@import "../../../../mixins/mixins.scss";

.spring {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(64px);
  transition: all 0.5s;

  @include respond-to(mobile) {
    transform: translateX(0px);
    justify-content: flex-start;
  }

  &-titleContainer {
    display: flex;
    position: absolute;
    left: -2%;
    top: 40%;
    transform: translateY(-50%);

    @include respond-to(medium) {
      top: 50%;
      left: -4%;
    }

    @include respond-to(mobile) {
      left: 50%;
      transform: translateX(-50%);
      top: 70px;
      flex-direction: column;
      align-items: center;
    }

    &-text {
      &-h1 {
        font-family: "Lobster Regular";
        font-weight: 400;
        font-size: 102px;
        margin: 0;
        transform: translateX(-40%);
        transform: translateY(0%);
        opacity: 0;

        @include respond-to(medium) {
          font-size: 90px;
        }

        @include respond-to(mobile) {
          font-size: 85px;
        }
      }

      &-h2 {
        text-align: center;
        font-weight: 400;
        margin-top: 0;
        font-size: 30px;
        width: 272px;
        transform: translateX(-40%);
        transform: translateY(0%);
        opacity: 0;

        @include respond-to(medium) {
          font-size: 25px;
        }

        @include respond-to(mobile) {
          font-size: 17px;
          line-height: 25px;
          margin: 0;
        }
      }
    }

    &-spring-leaf {
      width: 120px;
      margin: 0 16px;

      @include respond-to(medium) {
        width: 95px;
      }

      @include respond-to(mobile) {
        width: 73.36px;
        margin-top: 8px;
      }
    }
  }

  &-imageContainer {
    display: grid;
    position: relative;
    width: 594px;
    height: 100vh;

    @include respond-to(medium) {
      width: 476px;
    }

    @include respond-to(mobile) {
      width: 452px;
      left: 50%;
      transform: translateX(-50%);
    }

    &__image1 {
      z-index: 999;
      position: absolute;
      bottom: 0px;
      opacity: 0;
      box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.4);

      @include respond-to(medium) {
        width: 400px;
      }

      @include respond-to(mobile) {
        display: none;
      }
    }

    &__image1-mobile {
      display: none;
      z-index: 99;
      position: absolute;
      opacity: 1;
      bottom: 5%;
      left: 0px;
      box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.4);

      @include respond-to(medium) {
        width: 400px;
      }

      @include respond-to(mobile) {
        display: block;
        width: 259px;
        bottom: 0;
      }
    }

    &__image2 {
      position: absolute;
      transform: translateX(75%);
      top: 0px;
      opacity: 1;
      box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.4);

      @include respond-to(medium) {
        width: 400px;
      }

      @include respond-to(mobile) {
        display: none;
      }
    }

    &__image2-mobile {
      display: none;
      position: absolute;
      top: 40%;
      right: 0;
      opacity: 1;
      box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.4);

      @include respond-to(medium) {
        width: 400px;
      }

      @include respond-to(mobile) {
        width: 259px;
        display: block;
        z-index: 999;
      }
    }

    &__text1 {
      text-align: left;
      position: relative;
      display: flex;
      align-self: center;
      justify-self: flex-start;
      flex-direction: column;
      top: 30px;
      right: -160px;
      z-index: 99996;
      opacity: 0;

      @include respond-to(mobile) {
        left: 60px;
        opacity: 0;
        top: 50%;
      }

      h1 {
        margin: 0;
        font-family: "Roboto Regular";
        font-size: 38px;

        @include respond-to(medium) {
          font-size: 30px;
        }

        @include respond-to(mobile) {
          font-size: 22px;
        }
      }

      h2 {
        font-family: "Roboto Light";
        margin: 0;
        font-size: 16px;
        opacity: 70%;
        font-weight: 200px;
        width: 225px;

        @include respond-to(medium) {
          font-size: 12px;
          width: 197px;
        }

        @include respond-to(mobile) {
          font-size: 9px;
          width: 130px;
          text-align: right;
        }
      }
    }

    &__text2 {
      text-align: right;
      position: relative;
      display: flex;
      bottom: 0px;
      align-self: center;
      justify-self: flex-end;
      flex-direction: column;
      z-index: 999;
      left: 0px;
      opacity: 0;

      @include respond-to(medium) {
        left: 90px;
        opacity: 0;
      }

      @include respond-to(mobile) {
        text-align: left;
        justify-self: flex-end;
        align-self: none;
        bottom: -30%;
        left: -60px;
        opacity: 0;
      }

      h1 {
        margin: 0;
        font-family: "Roboto Regular";
        font-size: 38px;

        @include respond-to(medium) {
          font-size: 30px;
        }

        @include respond-to(mobile) {
          font-size: 22px;
        }
      }

      h2 {
        font-family: "Roboto Light";
        margin: 0;
        font-size: 16px;
        opacity: 70%;
        font-weight: 200px;
        width: 225px;

        @include respond-to(medium) {
          font-size: 12px;
          width: 197px;
        }

        @include respond-to(mobile) {
          font-size: 9px;
          width: 130px;
        }
      }
    }
  }
}

.spring-image-text-1-in {
  right: -160px;
  opacity: 0;
  animation: SpringImageText1In 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.6s forwards;

  @include respond-to(mobile) {
    left: 60px;
    opacity: 0;
    animation: SpringImageText1InMobile 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.6s forwards;
  }
}

.spring-image-text-1-out {
  right: -110px;
  opacity: 1;
  animation: SpringImageText1Out 0.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.spring-image-text-2-in {
  left: 140px;
  opacity: 0;
  animation: SpringImageText2In 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.6s forwards;

  @include respond-to(medium) {
    left: 90px;
    opacity: 0;
    animation: SpringImageText2InResposive 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.6s forwards;
  }

  @include respond-to(mobile) {
    left: -60px;
    opacity: 0; 
    animation: SpringImageText2InMobile 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.6s forwards;
  }
}

.spring-image-text-2-out {
  left: 240px;
  opacity: 1;
  animation: SpringImageText2Out 0.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes SpringImageText1In {
  to {
    right: -40px;
    opacity: 1;
  }
}

@keyframes SpringImageText1InMobile {
  to {
    left: 30px;
    opacity: 1;
  }
}

@keyframes SpringImageText1Out {
  to {
    right: -160px;
    opacity: 0;
  }
}

@keyframes SpringImageText2In {
  to {
    left: 240px;
    opacity: 1;
  }
}

@keyframes SpringImageText2InMobile {
  to {
    left: -30px;
    opacity: 1;
  }
}

@keyframes SpringImageText2InResposive {
  to {
    left: 160px;
    opacity: 1;
  }
}

@keyframes SpringImageText2Out {
  to {
    left: 140px;
    opacity: 0;
  }
}

.spring-image-1-in {
  opacity: 0;
  animation: SpringImage1In 0.6s cubic-bezier(0.22, 1, 0.36, 1) 0.3s forwards;

  @include respond-to(mobile) {
    bottom: 0%;
    opacity: 0;
    animation: SpringImage1InMobile 0.6s cubic-bezier(0.22, 1, 0.36, 1) 0.3s forwards;
  }
}

.spring-image-1-out {
  bottom: 64px;
  opacity: 1;
  animation: SpringImage1Out 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;

  @include respond-to(mobile) {
    bottom: 0%;
    opacity: 0;
    animation: SpringImage1Out 0.6s cubic-bezier(0.22, 1, 0.36, 1) 0.3s forwards;
  }
}

@keyframes SpringImage1In {
  to {
    bottom: 64px;
    opacity: 1;
  }
}

@keyframes SpringImage1InMobile {
  to {
    bottom: 5%;
    opacity: 1;
  }
}

@keyframes SpringImage1Out {
  to {
    bottom: 0;
    opacity: 0;
  }
}

.spring-image-2-in {
  top: 0px;
  opacity: 0;
  animation: SpringImage2In 0.6s cubic-bezier(0.22, 1, 0.36, 1) 0.3s forwards;

  @include respond-to(mobile) {
    top: 40%;
    opacity: 0;
    animation: SpringImage2InMobile 0.6s cubic-bezier(0.22, 1, 0.36, 1) 0.3s forwards;
  }
}

.spring-image-2-out {
  top: 64px;
  opacity: 1;
  animation: SpringImage2Out 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;

  @include respond-to(mobile) {
    top: 45%;
    opacity: 1;
    animation: SpringImage2Out 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  }
}

@keyframes SpringImage2In {
  to {
    top: 64px;
    opacity: 1;
  }
}

@keyframes SpringImage2InMobile {
  to {
    top: 45%;
    opacity: 1;
  }
}

@keyframes SpringImage2Out {
  to {
    top: 0;
    opacity: 0;
  }
}
