.winter {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(64px);
  transition: all 0.5s;

  &-titleContainer {
    display: flex;
    position: absolute;
    left: -2%;
    top: 40%;
    transform: translateY(-50%);

    &-text {
      &-h1 {
        font-family: "Lobster Regular";
        font-weight: 400;
        font-size: 102px;
        margin: 0;
        transform: translateX(-40%);
        transform: translateY(0%);
        opacity: 0;
      }

      &-h2 {
        text-align: center;
        font-weight: 400;
        margin-top: 0;
        font-size: 30px;
        width: 272px;
        transform: translateX(-40%);
        transform: translateY(0%);
        opacity: 0;
      }
    }

    &-snow-flake {
      width: 120px;
      margin: 0 16px;
      transform: translateY(-35%);
      opacity: 0;
    }
  }

  &-imageContainer {
    display: grid;
    position: relative;
    width: 594px;
    height: 100vh;

    &__image1 {
      z-index: 999;
      position: absolute;
      top: 0;
      opacity: 0;
      box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.4);
    }

    &__image2 {
      position: absolute;
      transform: translateX(85%);
      bottom: 0;
      opacity: 0;
      box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.4);
    }

    &__text1 {
      text-align: right;
      position: relative;
      display: flex;
      align-self: center;
      justify-self: flex-end;
      flex-direction: column;
      bottom: 50px;
      z-index: 99996;
      transform: translateX(-25%);
      opacity: 0;

      h1 {
        margin: 0;
        font-family: "Roboto Regular";
        font-size: 38px;
      }

      h2 {
        font-family: "Roboto Light";
        margin: 0;
        font-size: 16px;
        opacity: 70%;
        font-weight: 200px;
        width: 225px;
      }
    }

    &__text2 {
      text-align: left;
      position: relative;
      display: flex;
      top: 50px;
      align-self: center !important;
      justify-self: flex-start !important;
      flex-direction: column;
      transform: translateX(25%);
      opacity: 0;

      h1 {
        margin: 0;
        font-family: "Roboto Regular";
        font-size: 38px;
      }

      h2 {
        font-family: "Roboto Light";
        margin: 0;
        font-size: 16px;
        opacity: 70%;
        font-weight: 200px;
        width: 225px;
      }
    }
  }
}

.winter-image-text-1-in {
  transform: translateX(-25%);
  opacity: 0;
  animation: winterTextAnimationIn 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.6s forwards;
}

.winter-image-text-2-in {
  transform: translateX(25%);
  opacity: 0;
  animation: winterTextAnimationIn 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.6s forwards;
}

.winter-image-1-in {
  top: 0;
  opacity: 0;
  animation: winterImage1In 0.6s cubic-bezier(0.22, 1, 0.36, 1) 0.3s forwards;
}

.winter-image-1-out {
  top: 64px;
  opacity: 1;
  animation: winterImage1Out 0.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.winter-image-2-in {
  bottom: 0;
  opacity: 0;
  animation: winterImage2In 0.6s cubic-bezier(0.22, 1, 0.36, 1) 0.3s forwards;
}

.winter-image-2-out {
  bottom: 64px;
  opacity: 1;
  animation: winterImage2Out 0.3s forwards;
}

@keyframes winterTextAnimationIn {
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes winterImage1In {
  to {
    top: 64px;
    opacity: 1;
  }
}

@keyframes winterImage1Out {
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes winterImage2In {
  to {
    bottom: 64px;
    opacity: 1;
  }
}

@keyframes winterImage2Out {
  to {
    bottom: 0;
    opacity: 0;
  }
}
