@import "../../../../mixins/mixins.scss";

.winter {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(64px);
  transition: all 0.5s;

  @include respond-to(mobile) {
    transform: translateX(0px);
    justify-content: start;
  }

  &-titleContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    left: -2%;
    top: 40%;
    transform: translateY(-50%);

    @include respond-to(medium) {
      top: 50%;
      left: -4%;
    }

    @include respond-to(mobile) {
      left: 50%;
      transform: translateX(-50%);
      top: 70px;
      flex-direction: column;
      align-items: center;
    }

    &-text {
      &-h1 {
        font-family: "Lobster Regular";
        font-weight: 400;
        font-size: 102px;
        margin: 0;
        transform: translateX(-40%);
        transform: translateY(0%);
        opacity: 0;

        @include respond-to(high) {
          font-size: 115px;
        }

        @include respond-to(medium) {
          font-size: 90px;
        }

        @include respond-to(mobile) {
          font-size: 85px;
        }
      }

      &-h2 {
        text-align: center;
        font-weight: 400;
        margin-top: 0;
        font-size: 30px;
        width: 272px;
        transform: translateX(-40%);
        transform: translateY(0%);
        opacity: 0;

        @include respond-to(medium) {
          font-size: 25px;
        }

        @include respond-to(mobile) {
          font-size: 17px;
          line-height: 10px;
        }
      }
    }

    &-snow-flake {
      width: 120px;
      margin: 0 16px;
      transform: translateY(-35%);
      opacity: 0;

      @include respond-to(medium) {
        width: 95px;
      }

      @include respond-to(mobile) {
        width: 73.36px;
        margin-top: 8px;
      }
    }
  }

  &-imageContainer {
    display: grid;
    position: relative;
    width: 594px;
    height: 100vh;

    @include respond-to(medium) {
      width: 476px;
    }

    @include respond-to(mobile) {
      width: 356px;
      left: 50%;
      transform: translateX(-50%);
    }

    &__image1 {
      z-index: 999;
      position: absolute;
      top: 0;
      opacity: 0;
      box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.4);

      @include respond-to(high) {
        width: 350px;
      }

      @include respond-to(medium) {
        width: 255px;
      }

      @include respond-to(mobile) {
        transform: translateX(-20%);
        opacity: 0;
        width: 222px;
        opacity: 1;
        top: 42%;
        left: -10px;
      }

      @include respond-to(mobile-medium) {
        width: 200px;
        left: 10px;
      }
    }

    &__image2 {
      position: absolute;
      transform: translateX(85%);
      bottom: 0;
      opacity: 0;
      box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.4);

      @include respond-to(high) {
        width: 350px;
      }

      @include respond-to(medium) {
        width: 255px;
      }

      @include respond-to(mobile) {
        transform: translateX(20%);
        opacity: 0;
        width: 222px;
        opacity: 1;
        bottom: 2%;
        right: -10px;
      }

      @include respond-to(mobile-medium) {
        width: 200px;
        right: 10px;
      }
    }

    &__text1 {
      text-align: right;
      position: relative;
      display: flex;
      align-self: center;
      justify-self: flex-end;
      flex-direction: column;
      bottom: 50px;
      z-index: 999;
      transform: translateX(-25%);
      opacity: 0;

      @include respond-to(high) {
        transform: translateX(5%) !important;
      }

      @include respond-to(mobile) {
        transform: translateX(0);
        top: 50%;
      }

      @include respond-to(mobile-medium) {
        margin-right: 8px;
      }

      h1 {
        margin: 0;
        font-family: "Roboto Regular";
        font-size: 38px;

        @include respond-to(high) {
          font-size: 40px;
        }

        @include respond-to(medium) {
          font-size: 30px;
        }

        @include respond-to(mobile) {
          font-size: 22px;
        }
      }

      h2 {
        font-family: "Roboto Light";
        margin: 0;
        font-size: 16px;
        opacity: 0.7;
        font-weight: 200;
        width: 225px;

        @include respond-to(high) {
          font-size: 20px;
        }

        @include respond-to(medium) {
          font-size: 12px;
          width: 197px;
        }

        @include respond-to(mobile) {
          font-size: 9.5px;
          width: 130px;
          opacity: 0.9;
        }
      }
    }

    &__text2 {
      text-align: left;
      position: relative;
      display: flex;
      top: 50px;
      align-self: center;
      justify-self: flex-start;
      flex-direction: column;
      transform: translateX(25%);
      opacity: 0;

      @include respond-to(high) {
        transform: translateX(15%) !important;
      }

      @include respond-to(mobile) {
        transform: translateX(0);
        align-self: center;
        top: 110px;
      }

      @include respond-to(mobile-medium) {
        margin-left: 8px;
      }

      h1 {
        margin: 0;
        font-family: "Roboto Regular";
        font-size: 38px;

        @include respond-to(medium) {
          font-size: 30px;
        }

        @include respond-to(mobile) {
          font-size: 22px;
        }
      }

      h2 {
        font-family: "Roboto Light";
        margin: 0;
        font-size: 16px;
        opacity: 0.7;
        font-weight: 200;
        width: 225px;

        @include respond-to(high) {
          font-size: 20px;
        }

        @include respond-to(medium) {
          font-size: 12px;
          width: 197px;
        }

        @include respond-to(mobile) {
          font-size: 9.5px;
          width: 130px;
          opacity: 0.9;
        }
      }
    }
  }
}

.winter-image-text-1-in {
  transform: translateX(-25%);
  opacity: 0;
  animation: winterTextAnimationIn 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.6s forwards;
}

.winter-image-text-2-in {
  transform: translateX(25%);
  opacity: 0;
  animation: winterTextAnimationIn 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.6s forwards;
}

.winter-image-1-in {
  opacity: 0;
  animation: winterImage1In 0.6s cubic-bezier(0.22, 1, 0.36, 1) 0.3s forwards;

  @include respond-to(mobile) {
    transform: translateX(-20%);
    opacity: 0;
    animation: winterTextAnimationIn 0.6s cubic-bezier(0.22, 1, 0.36, 1) 0.3s forwards;
  }
}

.winter-image-1-out {
  top: 64px;
  opacity: 1;
  animation: winterImage1Out 0.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.winter-image-2-in {
  opacity: 0;
  animation: winterImage2In 0.6s cubic-bezier(0.22, 1, 0.36, 1) 0.3s forwards;

  @include respond-to(mobile) {
    transform: translateX(20%);
    opacity: 0;
    animation: winterTextAnimationIn 0.6s cubic-bezier(0.22, 1, 0.36, 1) 0.3s forwards;
  }
}

.winter-image-2-out {
  bottom: 64px;
  opacity: 1;
  animation: winterImage2Out 0.3s forwards;
}

@keyframes winterTextAnimationIn {
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes winterImage1In {
  to {
    top: 64px;
    opacity: 1;
  }
}

@keyframes winterImage1Out {
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes winterImage2In {
  to {
    bottom: 64px;
    opacity: 1;
  }
}

@keyframes winterImage2Out {
  to {
    bottom: 0;
    opacity: 0;
  }
}
