@import "../../../../mixins/mixins.scss";

.seasonSectionContainer {
  height: 100vh;
  background: #6291af;
  position: relative;
  color: white;
  transition: background 0.4s;

  &__bearLogo {
    z-index: 999;
    position: absolute;
    top: 16px;
    left: 16px;
  }

  &__winter {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(64px);
    transition: all 0.5s;

    &-titleContainer {
      display: flex;
      position: absolute;
      left: -2%;
      top: 40%;
      transform: translateY(-50%);

      &-text {
        h1 {
          font-family: "Lobster Regular";
          font-weight: 400;
          font-size: 102px;
          margin: 0;
          transform: translateX(-40%);
          opacity: 0;
        }

        h2 {
          text-align: center;
          font-weight: 400;
          margin-top: 0;
          font-size: 30px;
          width: 272px;
          transform: translateX(-40%);
          opacity: 0;
        }
      }

      &-snow-flake {
        width: 120px;
        margin: 0 16px;
        transform: translateY(-35%);
        opacity: 0;
      }
    }

    &-imageContainer {
      display: grid;
      position: relative;
      width: 594px;
      height: 100vh;

      &__image1 {
        z-index: 999;
        position: absolute;
        top: 0;
        opacity: 0;
        box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.4);
      }

      &__image2 {
        position: absolute;
        transform: translateX(85%);
        bottom: 0;
        opacity: 0;
        box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.4);
      }

      &__text1 {
        text-align: right;
        position: relative;
        display: flex;
        align-self: center;
        justify-self: flex-end;
        flex-direction: column;
        bottom: 50px;
        z-index: 99996;
        transform: translateX(-25%);
        opacity: 0;

        h1 {
          margin: 0;
          font-family: "Roboto Regular";
          font-size: 38px;
        }

        h2 {
          font-family: "Roboto Light";
          margin: 0;
          font-size: 16px;
          opacity: 70%;
          font-weight: 200px;
          width: 225px;
        }
      }

      &__text2 {
        text-align: left;
        position: relative;
        display: flex;
        top: 50px;
        align-self: center !important;
        justify-self: flex-start !important;
        flex-direction: column;
        transform: translateX(25%);
        opacity: 0;

        h1 {
          margin: 0;
          font-family: "Roboto Regular";
          font-size: 38px;
        }

        h2 {
          font-family: "Roboto Light";
          margin: 0;
          font-size: 16px;
          opacity: 70%;
          font-weight: 200px;
          width: 225px;
        }
      }
    }
  }

  &__spring {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(64px);
    transition: all 0.5s;

    &-titleContainer {
      display: flex;
      position: absolute;
      left: -2%;
      top: 40%;
      transform: translateY(-50%);

      &-text {
        h1 {
          font-family: "Lobster Regular";
          font-weight: 400;
          font-size: 102px;
          margin: 0;
          transform: translateX(-40%);
          opacity: 0;
        }

        h2 {
          text-align: center;
          font-weight: 400;
          margin-top: 0;
          font-size: 30px;
          width: 272px;
          transform: translateX(-40%);
          opacity: 0;
        }
      }

      &-snow-flake {
        width: 120px;
        margin: 0 16px;
      }
    }

    &-imageContainer {
      display: grid;
      position: relative;
      width: 594px;
      height: 100vh;

      &__image1 {
        z-index: 999;
        position: absolute;
        bottom: 0px;
        opacity: 0;
        box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.4);
      }

      &__image2 {
        position: absolute;
        transform: translateX(75%);
        top: 0px;
        opacity: 0;
        box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.4);
      }

      &__text1 {
        text-align: left;
        position: relative;
        display: flex;
        align-self: center;
        justify-self: flex-start;
        flex-direction: column;
        top: 30px;
        right: -110px;
        z-index: 99996;
        opacity: 0;

        h1 {
          margin: 0;
          font-family: "Roboto Regular";
          font-size: 38px;
        }

        h2 {
          font-family: "Roboto Light";
          margin: 0;
          font-size: 16px;
          opacity: 70%;
          font-weight: 200px;
          width: 225px;
        }
      }

      &__text2 {
        text-align: right;
        position: relative;
        display: flex;
        bottom: 0px;
        opacity: 0;
        left: 140px;
        align-self: center !important;
        justify-self: flex-end !important;
        flex-direction: column;
        z-index: 999;

        h1 {
          margin: 0;
          font-family: "Roboto Regular";
          font-size: 38px;
        }

        h2 {
          font-family: "Roboto Light";
          margin: 0;
          font-size: 16px;
          opacity: 70%;
          font-weight: 200px;
          width: 225px;
        }
      }
    }
  }

  &__autumn {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(74px);
    transition: all 0.5s;

    &-titleContainer {
      display: flex;
      position: absolute;
      left: -2%;
      top: 40%;
      transform: translateY(-50%);

      &-text {
        h1 {
          font-family: "Lobster Regular";
          font-weight: 400;
          font-size: 102px;
          margin: 0;
          transform: translateX(-40%);
          opacity: 0;
        }

        h2 {
          text-align: center;
          font-weight: 400;
          margin-top: 0;
          font-size: 30px;
          width: 272px;
          transform: translateX(-40%);
          opacity: 0;
        }
      }

      &-snow-flake {
        width: 120px;
        margin: 0 16px;
      }
    }

    &-imageContainer {
      display: grid;
      position: relative;
      width: 594px;
      height: 100vh;

      &__image1 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        bottom: 64px;
        right: 10px;
        opacity: 0;
        box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.4);
      }

      &__image2 {
        z-index: 999;
        position: absolute;
        transform: translate(125%, -50%);
        top: 35%;
        opacity: 0;
        box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.4);
      }

      &__text1 {
        text-align: left;
        position: relative;
        display: flex;
        align-self: center;
        justify-self: flex-start;
        flex-direction: column;
        top: 40px;
        opacity: 0;
        left: 10px;
        z-index: 99996;

        h1 {
          margin: 0;
          font-family: "Roboto Regular";
          font-size: 38px;
        }

        h2 {
          font-family: "Roboto Light";
          margin: 0;
          font-size: 16px;
          opacity: 70%;
          font-weight: 200px;
          width: 360px;
        }
      }

      &__text2 {
        text-align: left;
        position: relative;
        display: flex;
        /* bottom: -20px; */
        bottom: 40px;
        opacity: 0;
        left: 10px;
        align-self: center !important;
        justify-self: flex-start !important;
        flex-direction: column;
        z-index: 999;

        h1 {
          margin: 0;
          font-family: "Roboto Regular";
          font-size: 38px;
        }

        h2 {
          font-family: "Roboto Light";
          margin: 0;
          font-size: 16px;
          opacity: 70%;
          font-weight: 200px;
          width: 360px;
        }
      }
    }
  }

  &__summer {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(74px);
    transition: all 0.5s;

    &-titleContainer {
      display: flex;
      position: absolute;
      left: -2%;
      top: 40%;
      transform: translateY(-50%);

      &-text {
        h1 {
          font-family: "Lobster Regular";
          font-weight: 400;
          font-size: 102px;
          margin: 0;
          transform: translateX(-40%);
          opacity: 0;
        }

        h2 {
          text-align: center;
          font-weight: 400;
          margin-top: 0;
          font-size: 30px;
          width: 272px;
          transform: translateX(-40%);
          opacity: 0;
        }
      }

      &-snow-flake {
        width: 120px;
        margin: 0 16px;
      }
    }

    &-imageContainer {
      display: grid;
      position: relative;
      width: 661px;
      height: 100vh;

      &__image1 {
        align-self: flex-start;
        position: absolute;
        transform: translateX(10%);
        box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.4);
        top: -20%;
        opacity: 0;
      }

      &__image2 {
        z-index: 999;
        position: absolute;
        transform: translate(125%, -50%);
        box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.4);
        top: 80%;
        opacity: 0;
      }

      &__text1 {
        text-align: right;
        position: relative;
        display: flex;
        align-self: flex-start;
        justify-self: flex-end;
        flex-direction: column;
        top: 72px;
        width: 225px;
        transform: translateX(-35%);
        opacity: 0;

        h1 {
          margin: 0;
          font-family: "Roboto Regular";
          font-size: 38px;
        }

        h2 {
          font-family: "Roboto Light";
          margin: 0;
          font-size: 16px;
          opacity: 70%;
          font-weight: 200px;
        }
      }

      &__text2 {
        text-align: left;
        position: relative;
        display: flex;
        left: 10px;
        align-self: center !important;
        justify-self: flex-start !important;
        flex-direction: column;
        width: 225px;
        justify-content: center;
        transform: translateX(70%);
        opacity: 0;
        top: 64px;

        h1 {
          margin: 0;
          font-family: "Roboto Regular";
          font-size: 38px;
        }

        h2 {
          font-family: "Roboto Light";
          margin: 0;
          font-size: 16px;
          opacity: 70%;
          font-weight: 200px;
        }
      }
    }
  }
}

// SEASONS SECTIONS ANIMATION CLASSES.

.winter-text-1-in {
  animation: winterTextAnimationIn 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.2s forwards;
}

.winter-text-2-in {
  animation: winterTextAnimationIn 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.4s forwards;
}

.winter-image-text-1-in {
  animation: winterTextAnimationIn 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.6s forwards;
}

.winter-logo-in {
  animation: winterLogoIn 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.3s forwards;
}

.winter-image-1-in {
  animation: winterImage1In 0.6s cubic-bezier(0.22, 1, 0.36, 1) 0.3s forwards;
}

.winter-image-2-in {
  animation: winterImage2In 0.6s cubic-bezier(0.22, 1, 0.36, 1) 0.3s forwards;
}

.winter-logo-out {
  animation: winterLogoOut 0.3s forwards;
}

.winter-text-out {
  animation: winterTextAnimationOut 0.3s forwards;
}

.winter-image-1-out {
  animation: winterImage1Out 0.3s forwards;
}

.winter-image-2-out {
  animation: winterImage2Out 0.3s forwards;
}

//SPRING ANIMATIONS START!

.spring-image-text-1-in {
  animation: SpringImageText1In 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.6s forwards;
}

.spring-image-text-2-in {
  animation: SpringImageText2In 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.6s forwards;
}

@keyframes SpringImageText1In {
  to {
    right: -45px;
    opacity: 1;
  }
}

@keyframes SpringImageText2In {
  to {
    left: 240px;
    opacity: 1;
  }
}

//SPRING ANIMATIONS ENDS

//AUTUMN ANIMATIONS STARTS

.autumn-image-1-in {
  animation: AutumnImageAnimation1In 1s cubic-bezier(0.22, 1, 0.36, 1) 0.6s forwards;
}

.autumn-image-2-in {
  animation: AutumnImageAnimation2In 1s cubic-bezier(0.22, 1, 0.36, 1) 0.6s forwards;
}

@keyframes AutumnImageAnimation1In {
  to {
    right: 65px;
    opacity: 1;
  }
}

@keyframes AutumnImageAnimation2In {
  to {
    top: 50%;
    opacity: 1;
  }
}

.autumn-image-text-1-in {
  animation: AutumnImageTextAnimation1In 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.8s forwards;
}

.autumn-image-text-2-in {
  animation: AutumnImageTextAnimation2In 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.8s forwards;
}

@keyframes AutumnImageTextAnimation1In {
  to {
    top: -20px;
    opacity: 1;
  }
}

@keyframes AutumnImageTextAnimation2In {
  to {
    bottom: -20px;
    opacity: 1;
  }
}

//AUTUMN ANIMATIONS ENDS

//SUMMER ANIMATIONS STARTS

.summer-image-1-in {
  animation: summerImageAnimation1In 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.6s forwards;
}

.summer-image-2-in {
  animation: summerImageAnimation2In 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.6s forwards;
}

@keyframes summerImageAnimation1In {
  to {
    top: 64px;
    opacity: 1;
  }
}

@keyframes summerImageAnimation2In {
  to {
    top: 60%;
    opacity: 1;
  }
}

.summer-text-image-1-in {
  animation: summerImageTextAnimation1In 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.8s forwards;
}

.summer-text-image-2-in {
  animation: summerImageTextAnimation2In 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.8s forwards;
}

@keyframes summerImageTextAnimation1In {
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes summerImageTextAnimation2In {
  to {
    transform: translateX(20%);
    opacity: 1;
  }
}

//SEASONS SECTIONS ANIMATIONS KEYFRAMES

@keyframes winterTextAnimationIn {
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes winterTextAnimationOut {
  to {
    transform: translateX(-20%);
    opacity: 0;
  }
}

@keyframes winterLogoIn {
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes winterLogoOut {
  to {
    transform: translateY(-35%);
    opacity: 0;
  }
}

@keyframes winterImage1In {
  to {
    top: 64px;
    opacity: 1;
  }
}

@keyframes winterImage1Out {
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes winterImage2In {
  to {
    bottom: 64px;
    opacity: 1;
  }
}

@keyframes winterImage2Out {
  to {
    bottom: 0;
    opacity: 0;
  }
}
