@import '../../../../mixins/mixins.scss';

.seasonSectionContainer {
  height: 100vh;
  background: #6291af;
  position: relative;
  color: white;
  transition: background .4s;

  &__bearLogo {
    z-index: 999;
    position: absolute;
    top: 16px;
    left: 16px;
  }

  &__winter {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(64px);
    transition: all .5s;

    &-titleContainer {
      display: flex;
      position: absolute;
      left: 32px;
      top: 50%;
      transform: translateY(-50%);

      &-text {
        h1 {
          font-family: 'Lobster Regular';
          font-weight: 400;
          font-size: 102px;
          margin: 0;
        }

        h2 {
          text-align: center;
          font-weight: 400;
          margin-top: 0;
          font-size: 30px;
          width: 272px;
        }
      }

      &-snow-flake {
        width: 120px;
        margin: 0 16px;
      }
    }

    &-imageContainer {
      display: grid;
      position: relative;
      width: 594px;
      height: 100vh;

      &__image1 {
        z-index: 999;
        position: absolute;
        top: 64px;
        box-shadow: 4px 4px 22px rgba(0,0,0,.4);
      }

      &__image2 {
        position: absolute;
        transform: translateX(85%);
        bottom: 64px;
        box-shadow: 4px 4px 22px rgba(0,0,0,.4);
      }

      &__text1 {
        text-align: right;
        position: relative;
        display: flex;
        align-self: center;
        justify-self: flex-end;
        flex-direction: column;
        bottom: 50px;
        z-index: 99996;

        h1 {
          margin: 0;
          font-family: 'Roboto Regular';
          font-size: 38px;
        }

        h2 {
          font-family: 'Roboto Light';
          margin: 0;
          font-size: 16px;
          opacity: 70%;
          font-weight: 200px;
          width: 225px;
        }
      }

      &__text2 {
        text-align: left;
        position: relative;
        display: flex;
        top: 50px;
        align-self: center !important;
        justify-self: flex-start !important;
        flex-direction: column;

        h1 {
          margin: 0;
          font-family: 'Roboto Regular';
          font-size: 38px;
        }

        h2 {
          font-family: 'Roboto Light';
          margin: 0;
          font-size: 16px;
          opacity: 70%;
          font-weight: 200px;
          width: 225px;
        }
      }
    }
  }

  &__spring {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(64px);
    transition: all .5s;

    &-titleContainer {
      display: flex;
      position: absolute;
      left: 32px;
      top: 50%;
      transform: translateY(-50%);

      &-text {
        h1 {
          font-family: 'Lobster Regular';
          font-weight: 400;
          font-size: 102px;
          margin: 0;
        }

        h2 {
          text-align: center;
          font-weight: 400;
          margin-top: 0;
          font-size: 30px;
          width: 272px;
        }
      }

      &-snow-flake {
        width: 120px;
        margin: 0 16px;
      }
    }

    &-imageContainer {
      display: grid;
      position: relative;
      width: 594px;
      height: 100vh;

      &__image1 {
        z-index: 999;
        position: absolute;
        top: 64px;
        box-shadow: 4px 4px 22px rgba(0,0,0,.4);
      }

      &__image2 {
        position: absolute;
        transform: translateX(85%);
        bottom: 64px;
        box-shadow: 4px 4px 22px rgba(0,0,0,.4);
      }

      &__text1 {
        text-align: right;
        position: relative;
        display: flex;
        align-self: center;
        justify-self: flex-end;
        flex-direction: column;
        bottom: 50px;
        z-index: 99996;

        h1 {
          margin: 0;
          font-family: 'Roboto Regular';
          font-size: 38px;
        }

        h2 {
          font-family: 'Roboto Light';
          margin: 0;
          font-size: 16px;
          opacity: 70%;
          font-weight: 200px;
          width: 225px;
        }
      }

      &__text2 {
        text-align: left;
        position: relative;
        display: flex;
        top: 50px;
        align-self: center !important;
        justify-self: flex-start !important;
        flex-direction: column;

        h1 {
          margin: 0;
          font-family: 'Roboto Regular';
          font-size: 38px;
        }

        h2 {
          font-family: 'Roboto Light';
          margin: 0;
          font-size: 16px;
          opacity: 70%;
          font-weight: 200px;
          width: 225px;
        }
      }
    }
  }
}
