@import "../../../../mixins/mixins.scss";

.seasonSectionContainer {
  height: 100vh;
  background: #6291af;
  position: relative;
  color: white;
  transition: background 0.4s;

  &__bearLogo {
    z-index: 999;
    position: absolute;
    top: 16px;
    left: 16px;
  }
}

// SEASONS SECTIONS ANIMATION CLASSES.



//SPRING ANIMATIONS START!

//SPRING ANIMATIONS ENDS

//AUTUMN ANIMATIONS STARTS

//AUTUMN ANIMATIONS ENDS

//SUMMER ANIMATIONS STARTS

//SEASONS SECTIONS ANIMATIONS KEYFRAMES

