@import "../../../../mixins/mixins.scss";

.summer {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(74px);
  transition: all 0.5s;

  @include respond-to(mobile) {
    transform: translateX(0px);
    justify-content: center;
  }

  &-titleContainer {
    display: flex;
    position: absolute;
    left: -2%;
    top: 40%;
    transform: translateY(-50%);

    @include respond-to(medium) {
      top: 50%;
      left: -4%;
    }

    @include respond-to(mobile) {
      left: 50%;
      transform: translateX(-50%);
      top: 70px;
      flex-direction: column;
      align-items: center;
    }

    &-text {
      &-h1 {
        font-family: "Lobster Regular";
        font-weight: 400;
        font-size: 102px;
        margin: 0;
        transform: translateX(-40%);
        opacity: 0;

        @include respond-to(medium) {
          font-size: 90px;
        }

        @include respond-to(mobile) {
          font-size: 85px;
        }
      }

      &-h2 {
        text-align: center;
        font-weight: 400;
        margin-top: 0;
        font-size: 30px;
        width: 272px;
        transform: translateX(-40%);
        opacity: 0;

        @include respond-to(medium) {
          font-size: 25px;
        }

        @include respond-to(mobile) {
          font-size: 17px;
          line-height: 25px;
          margin: 0;
        }
      }
    }

    &-sun {
      width: 120px;
      margin: 0 16px;

      @include respond-to(medium) {
        width: 95px;
      }

      @include respond-to(mobile) {
        width: 73.36px;
        margin-top: 8px;
      }
    }
  }

  &-imageContainer {
    display: grid;
    position: relative;
    width: 661px;
    height: 100vh;

    @include respond-to(medium) {
      width: 531px;
    }

    @include respond-to(mobile) {
      width: 363px;
    }

    &__image1 {
      align-self: flex-start;
      position: absolute;
      transform: translateX(10%);
      box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.4);
      top: -20%;
      opacity: 0;

      @include respond-to(medium) {
        width: 260px;
      }

      @include respond-to(mobile) {
        top: 50%;
        display: none;
      }
    }

    &__image1-mobile {
      display: none;
      align-self: flex-start;
      opacity: 0;
      position: absolute;
      transform: translateX(0%);
      box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.4);

      @include respond-to(medium) {
        width: 260px;
      }

      @include respond-to(mobile) {
        display: block;
        opacity: 1;
        width: 180px;
        top: 35%;
        left: 15px;
      }
    }

    &__image2 {
      z-index: 999;
      position: absolute;
      transform: translate(125%, -50%);
      box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.4);
      top: 80%;
      opacity: 0;

      @include respond-to(medium) {
        width: 260px;
      }

      @include respond-to(mobile) {
        display: none !important;
        opacity: 0;
      }
    }

    &__image2-mobile {
      display: none;
      opacity: 0;
      z-index: 999;
      position: absolute;
      transform: translate(80%, -40%);
      box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.4);

      @include respond-to(medium) {
        width: 260px;
      }

      @include respond-to(mobile) {
        display: block;
        opacity: 0;
        width: 180px;
        top: 82%;
        transform: translate(90%, -40%);
      }
    }

    &__text1 {
      text-align: right;
      position: relative;
      display: flex;
      align-self: flex-start;
      justify-self: flex-end;
      flex-direction: column;
      top: 72px;
      width: 225px;
      transform: translateX(-35%);
      opacity: 0;

      @include respond-to(mobile) {
        opacity: 0;
        transform: translateX(-35%); //transform to 0
        top: 10px;
        align-self: flex-end;
        width: auto;
      }

      h1 {
        margin: 0;
        font-family: "Roboto Regular";
        font-size: 38px;

        @include respond-to(medium) {
          font-size: 30px;
        }

        @include respond-to(mobile) {
          font-size: 22px;
        }
      }

      h2 {
        font-family: "Roboto Light";
        margin: 0;
        font-size: 16px;
        opacity: 0.7;
        font-weight: 200;

        @include respond-to(medium) {
          font-size: 12px;
          width: 230px;
        }

        @include respond-to(mobile) {
          font-size: 9.5px;
          width: 130px;
          opacity: 0.9;
          text-align: right;
        }
      }
    }

    &__text2 {
      text-align: left;
      position: relative;
      display: flex;
      left: 10px;
      align-self: center;
      justify-self: flex-start !important;
      flex-direction: column;
      width: 225px;
      justify-content: center;
      transform: translateX(70%);
      opacity: 0;
      top: 64px;

      @include respond-to(mobile) {
        opacity: 0;
        transform: translateX(50%);
        width: auto;
        top: 110px;
      }

      h1 {
        margin: 0;
        font-family: "Roboto Regular";
        font-size: 38px;

        @include respond-to(medium) {
          font-size: 30px;
        }

        @include respond-to(mobile) {
          font-size: 22px;
          align-self: flex-end;
        }
      }

      h2 {
        font-family: "Roboto Light";
        margin: 0;
        font-size: 16px;
        opacity: 0.7;
        font-weight: 200;

        @include respond-to(medium) {
          font-size: 12px;
          width: 230px;
        }

        @include respond-to(mobile) {
          font-size: 9.5px;
          width: 130px;
          opacity: 0.9;
          text-align: right;
        }
      }
    }
  }
}

.summer-image-1-in {
  top: -20%;
  opacity: 0;
  animation: summerImageAnimation1In 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.6s forwards;

  @include respond-to(mobile) {
    top: 35%;
    opacity: 0;
    animation: summerImageAnimation1InMobile 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.6s forwards;
  }
}

.summer-image-1-out {
  top: 64px;
  opacity: 1;
  animation: summerImageAnimation1Out 0.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.summer-image-2-in {
  top: 80%;
  opacity: 0;
  animation: summerImageAnimation2In 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.6s forwards;

  @include respond-to(mobile) {
    top: 82%;
    opacity: 0;
    animation: summerImageAnimation2InMobile 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.6s forwards;
  }
}

.summer-image-2-Out {
  top: 60%;
  opacity: 1;
  animation: summerImageAnimation2Out 0.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes summerImageAnimation1In {
  to {
    top: 64px;
    opacity: 1;
  }
}

@keyframes summerImageAnimation1InMobile {
  to {
    top: 45%;
    opacity: 1;
  }
}

@keyframes summerImageAnimation1Out {
  to {
    top: -20%;
    opacity: 0;
  }
}

@keyframes summerImageAnimation2In {
  to {
    top: 60%;
    opacity: 1;
  }
}

@keyframes summerImageAnimation2InMobile {
  to {
    top: 72%;
    opacity: 1;
  }
}

@keyframes summerImageAnimation2Out {
  to {
    top: 80%;
    opacity: 0;
  }
}

.summer-text-image-1-in {
  transform: translateX(-35%);
  opacity: 0;
  animation: summerImageTextAnimation1In 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.8s forwards;

  @include respond-to(mobile) {
    opacity: 0;
    animation: summerImageTextAnimation1In 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.8s forwards;
  }

  @include respond-to(mobile-medium) {
    opacity: 0;
    animation: summerImageTextAnimation1InSmall 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.8s forwards;
  }
  
}

.summer-text-image-1-out {
  transform: translateX(0%);
  opacity: 1;
  animation: summerImageTextAnimation1Out 0.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.summer-text-image-2-in {
  transform: translateX(0%);
  opacity: 0;
  animation: summerImageTextAnimation2In 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.8s forwards;

   @include respond-to(mobile) {
    transform: translateX(45%);
    opacity: 0;
    animation: summerImageTextAnimation2InMobile 0.8s cubic-bezier(0.22, 1, 0.36, 1) 0.8s forwards;
  }
} 

.summer-text-image-2-out {
  transform: translateX(20%);
  opacity: 1;
  animation: summerImageTextAnimation2Out 0.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes summerImageTextAnimation1In {
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes summerImageTextAnimation1InSmall {
  to {
    transform: translateX(-10%);
    opacity: 1;
  }
}

@keyframes summerImageTextAnimation1Out {
  to {
    transform: translateX(-35%);
    opacity: 0;
  }
}

@keyframes summerImageTextAnimation2In {
  to {
    transform: translateX(20%);
    opacity: 1;
  }
}

@keyframes summerImageTextAnimation2InMobile {
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes summerImageTextAnimation2Out {
  to {
    transform: translateX(0%);
    opacity: 0;
  }
}
