@import "../../../../mixins/mixins.scss";

.particlesContainer {
  position: fixed;
  z-index: -1;
  height: 110vh;
  width: 100vw;

  @include respond-to(mobile-medium) {
    height: 101vh;
  }
}

.tsparticles-canvas-el {
  @include respond-to(mobile) {
    height: 105vmax !important;
    width: 100vmax !important;
  }
}
